body{

font-family:Arial;
background:linear-gradient(135deg,#c9efff,#f2fbff);
margin:0;
text-align:center;
color:#034b63;

}

.title{

font-size:34px;

}

#navbar{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:8px;
padding:10px;

}

button{

padding:12px 18px;
font-size:16px;
border:none;
border-radius:12px;
background:#7ed8ff;
color:#034b63;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:#48c7ff;

}

.bigButton{

font-size:22px;
padding:18px 30px;

}

.screen{

display:none;

}

#home{

display:block;

}

#scoreBox{

font-size:20px;
margin-bottom:10px;

}

#gameArea,
#sandboxArea,
#cookieBox{

width:92%;
height:420px;
margin:auto;
border-radius:14px;
background:white;
border:2px solid #9ddfff;
position:relative;
overflow:hidden;

}

.cookie{

position:absolute;
font-size:38px;
cursor:pointer;

}

.block{

width:42px;
height:42px;
background:#57caff;
position:absolute;
border-radius:6px;

}

.bubble{

width:50px;
height:50px;
background:#b7efff;
border-radius:50%;
position:absolute;

}

.ball{

width:42px;
height:42px;
background:#ffb347;
border-radius:50%;
position:absolute;
touch-action:none;

}

.light{

width:60px;
height:60px;
background:#cfd8dc;
border-radius:50%;
position:absolute;
touch-action:none;

}

.light.on{

background:#fff176;
box-shadow:0 0 25px #fff176;

}

@media(max-width:600px){

button{

font-size:18px;
padding:14px;

}

}
