body{

font-family:Arial;
background:linear-gradient(135deg,#bde6ff,#e9f8ff);
margin:0;
text-align:center;
color:#034b63;

}

.title{

font-size:40px;
margin-top:20px;

}

#navbar{

margin:10px;

}

button{

padding:10px 18px;
margin:6px;
border:none;
border-radius:12px;
background:#6ed3ff;
color:#034b63;
font-weight:bold;
cursor:pointer;
transition:all 0.2s;

}

button:hover{

transform:scale(1.05);
background:#3fc1ff;

}

.bigButton{

font-size:22px;
padding:14px 30px;

}

.screen{

display:none;

}

#home{

display:block;

}

#scoreBox{

font-size:20px;
margin-bottom:10px;

}

#gameArea{

width:90%;
height:420px;
margin:auto;
border-radius:14px;
background:white;
border:2px solid #9ddfff;
position:relative;
overflow:hidden;

}

#sandboxArea{

width:90%;
height:420px;
margin:auto;
border-radius:14px;
background:white;
border:2px solid #9ddfff;
position:relative;
overflow:hidden;

}

.cookie{

position:absolute;
font-size:40px;
cursor:pointer;

}

.block{

width:40px;
height:40px;
background:#57caff;
position:absolute;
border-radius:6px;

}

.bubble{

width:50px;
height:50px;
background:#b7efff;
border-radius:50%;
position:absolute;
cursor:pointer;

}

.ball{

width:40px;
height:40px;
background:#ffb347;
border-radius:50%;
position:absolute;

}

.light{

width:60px;
height:60px;
background:#cfd8dc;
border-radius:50%;
margin:10px auto;

}

.light.on{

background:#fff176;
box-shadow:0 0 25px #fff176;

}
